<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "- //mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin">
	<select id="selectClaimAll" resultType="map">
		SELECT * FROM CLAIM JOIN MEMBER USING(MEMBERNO)
	</select>
	<select id="selectClaimOne" parameterType="string" resultType="map">
		SELECT * FROM CLAIM JOIN MEMBER USING(MEMBERNO) WHERE CLAIMNO=#{claimNo}
	</select>
	<delete id="claimDelete" parameterType="string">
		DELETE FROM CLAIM WHERE CLAIMNO=#{claimNo}
	</delete>
	<update id="claimAccept" parameterType="string">
		UPDATE CLAIM SET STATUS='Y' WHERE CLAIMNO=#{claimNo}
	</update>
	<select id="selectPlaceList" resultType="map">
		select * from place join member using(MEMBERNO)
	</select>
	<select id="selectPlaceOne" resultType="map" parameterType="string">
		SELECT * FROM PLACE JOIN MEMBER USING(MEMBERNO) WHERE PLACENO=#{placeNo}
	</select>
</mapper>
