<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "- //mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pay">
	<select id="selectOrderList" resultType="map">
		SELECT * FROM PAYMENT LEFT JOIN MEMBER USING(MEMBERNO) ORDER BY PAYDATE DESC
	</select>
	<select id="selectPayDetail" resultType="map" parameterType="string">
		SELECT * FROM PAYDETAIL JOIN STOCK USING(STOCKNO) JOIN PRODUCT USING(PRODUCTNO) WHERE PAYMENTNO = #{paymentNo}
	</select>
	<select id="selectPaymentOne" resultType="map" parameterType="string">
		SELECT * FROM PAYMENT WHERE PAYMENTNO = #{paymentNo}
	</select>
	<update id="orderCancelOne" parameterType="string">
		UPDATE PAYDETAIL SET DETAILSTATUS='취소' WHERE DETAILNO=#{detailNo}
	</update>
	<select id="payDetailStatus" resultType="map" parameterType="string">
		SELECT * FROM PAYDETAIL WHERE PAYMENTNO=#{paymentNo} AND DETAILSTATUS IN ('결제', '대기')
	</select>
	<update id="updatePaymentStatus" parameterType="string">
		UPDATE PAYMENT SET PAYSTATUS='취소완료', DELIVERYSTATUS='취소' WHERE PAYMENTNO=#{paymentNo}
	</update>
	<update id="orderCancelAll" parameterType="string">
		UPDATE PAYDETAIL SET DETAILSTATUS='취소' WHERE PAYMENTNO=#{paymentNo}
	</update>
	<select id="orderTotalCount" resultType="_int">
		SELECT count(*) FROM PAYMENT LEFT JOIN MEMBER USING(MEMBERNO)
	</select>
	<update id="orderAccept" parameterType="string">
		UPDATE PAYMENT SET PAYSTATUS='결제완료' WHERE PAYMENTNO=#{paymentNo}
	</update>
	<update id="orderDetailAccept" parameterType="string">
		UPDATE PAYDETAIL SET DETAILSTATUS='결제' WHERE PAYMENTNO=#{paymentNo}
	</update>
	<update id="updatePoint" parameterType="map">
		UPDATE MEMBER SET POINT = POINT + ${pp} - ${pm} WHERE MEMBERNO=#{memberNo}
	</update>
</mapper>
