<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "- //mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="product">
	<insert id="insertProduct" parameterType="product">
		INSERT INTO PRODUCT VALUES(SEQ_PRODUCTNO.NEXTVAL,#{categoryNo},#{productName},#{fileName},DEFAULT,#{subCate})
		<selectKey keyProperty="productNo" resultType="string" order="AFTER">
  		SELECT SEQ_PRODUCTNO.CURRVAL from DUAL 
  		</selectKey>
	</insert>
	<insert id="insertStock" parameterType="stock">
		INSERT INTO STOCK VALUES(SEQ_STOCKNO.NEXTVAL,#{productNo},#{color , jdbcType=VARCHAR},#{productSize , jdbcType=VARCHAR},0,0,0)
	</insert>
	<insert id="insertProductImg" parameterType="pImg">
		INSERT INTO PRODUCTIMG VALUES(#{productNo},#{imgName},'S')
	</insert>
	<select id="selectProductAll" resultType="product">
		SELECT * FROM PRODUCT ORDER BY ENROLLDATE DESC
	</select>
	<insert id="insertProductMainImg" parameterType="pImg">
		INSERT INTO PRODUCTIMG VALUES(#{productNo},#{imgName},'M')
	</insert>
</mapper>
