<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cart">
	<select id="cartList" parameterType="string" resultType="map">
		SELECT PRODUCTNAME, FILENAME, COLOR, COUNT, PRICE, SALE, MEMBERNO, STOCK, STOCKNO, PRODUCTSIZE FROM CART C JOIN STOCK S USING(STOCKNO) JOIN PRODUCT USING(PRODUCTNO) WHERE MEMBERNO = #{memberNo}
	</select>
</mapper>
