<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "- //mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<select id="selectMember" parameterType="string" resultMap="memberMap">
		SELECT * FROM MEMBER WHERE EMAIL = #{email}
	</select>
	<resultMap type="member" id="memberMap">
		<result column="address" property="address" typeHandler="strArr"/>
    </resultMap>
    <insert id="insertMember" parameterType="member">
    	INSERT INTO MEMBER VALUES('M'||TO_CHAR(SEQ_MEMBERNO.NEXTVAL),#{email},#{password},#{memberName},#{phone},#{address,typeHandler=strArr},DEFAULT,DEFAULT,#{nickName},
    	<choose>
			 		<when test="img != null">
			 			#{img}
			 		</when>
			 		<when test="img == null">
			 			DEFAULT
			 		</when>
			 	</choose>
    	,NULL)
    </insert>
    <update id="updatePassword" parameterType="member">
    	UPDATE MEMBER SET PASSWORD=#{password} where MEMBERNO=#{memberNo}
    </update>
    <update id="updateMemberEnd" parameterType="member">
    	UPDATE MEMBER SET NICKNAME=#{nickName},PHONE=#{phone},MEMBERNAME=#{memberName},address=#{address,typeHandler=strArr}, IMG=#{img}, INFO=#{info} where MEMBERNO=#{memberNo}
    </update>
    <select id="selectMemberAll" resultType="map">
    	SELECT * FROM MEMBER
    </select>
</mapper>
