<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "- //mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="store">
	<select id="selectProduct" resultType="storeProduct" parameterType="string">
		SELECT * FROM PRODUCT WHERE PRODUCTNO=#{productNo}
	</select>
	<select id="selectStockList" resultType="storeStock" parameterType="string">
		SELECT * FROM STOCK WHERE PRODUCTNO=#{productNo}
	</select>
	<select id="selectImg" resultType="storeImg" parameterType="string">
		SELECT * FROM PRODUCTIMG WHERE PRODUCTNO=#{productNo} 
	</select>
	<insert id="insertCart" parameterType="map">
		INSERT INTO CART VALUES(
		<choose>
			<when test="memberNo!=null">
				#{memberNo},
			</when>
			<otherwise>
				null,
			</otherwise>
		</choose>
		#{stockNo},#{cnt})
	</insert>
</mapper>
