<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "- //mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="daily">
	<insert id="insertDaily" parameterType="daily">
		INSERT INTO DAILY VALUES('D'||SEQ_DAILYNO.NEXTVAL,#{memberNo},#{content},SYSDATE)
		<selectKey keyProperty="dailyNo" resultType="string" order="AFTER">
			SELECT 'D'||SEQ_DAILYNO.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	<insert id="insertDailyImg" parameterType="dailyImg">
		INSERT INTO DAILYIMG VALUES(SEQ_DAILYIMGNO.NEXTVAL,#{dailyNo},#{dailyImgName},#{status})
		<selectKey keyProperty="dailyImgNo" resultType="string" order="AFTER">
			SELECT SEQ_DAILYIMGNO.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	<insert id="insertDailyCoords" parameterType="dailyCoord">
		INSERT INTO COORD VALUES(#{dailyImgNo},#{productNo},#{xxCode},#{yyCode})
	</insert>
	<select id="selectProductName" parameterType="string" resultType="product">
		SELECT * FROM PRODUCT WHERE PRODUCTNAME LIKE '%${value}%'
	</select>
	<select id="selectProductNo" parameterType="string" resultType="string">
		SELECT PRODUCTNO FROM PRODUCT WHERE PRODUCTNAME=#{name}
	</select>
	<select id="selectDailyProduct" parameterType="string" resultType="pImg">
		SELECT * FROM PRODUCTIMG WHERE PRODUCTNO=#{productNo} AND TYPE='M'
	</select>
	<select id="selectProductAll" resultType="product">
		SELECT * FROM PRODUCT
	</select>
	<insert id="insertHashtag" parameterType="hashtag">
		INSERT INTO HASHTAG VALUES(#{postNo},#{hashContent})
	</insert>
	<select id="selectDailyAll" resultType="map">
		SELECT * FROM DAILY LEFT JOIN MEMBER USING(MEMBERNO) ORDER BY DAILYDATE DESC
	</select>
	<select id="selectMainImg" resultType="dailyImg">
		SELECT * FROM DAILYIMG WHERE STATUS='M'
	</select>
	<select id="selectHashAll" resultType="hashtag">
		SELECT * FROM HASHTAG WHERE POSTNO LIKE 'D%'
	</select>
	<select id="selectDailyOne" resultType="map" parameterType="string">
		SELECT * FROM DAILY LEFT JOIN MEMBER USING(MEMBERNO) WHERE DAILYNO=#{dailyNo}
	</select>
	<select id="selectDailyImg" resultType="dailyImg" parameterType="string">
		SELECT * FROM DAILYIMG WHERE DAILYNO=#{dailyNo} ORDER BY DAILYIMGNO
	</select>
	<select id="selectHashList" resultType="hashtag" parameterType="string">
		SELECT * FROM HASHTAG WHERE POSTNO=#{dailyNo}
	</select>
	<select id="selectCoordList" resultType="map" parameterType="string">
		SELECT * FROM COORD LEFT JOIN DAILYIMG USING (DAILYIMGNO) LEFT JOIN PRODUCT USING(PRODUCTNO) WHERE DAILYNO=#{dailyNo}
	</select>
	<delete id="deleteDaily" parameterType="string">
		DELETE FROM DAILY WHERE DAILYNO=#{value}
	</delete>
	<select id="selectDailyListOne" parameterType="string" resultType="map">
		select * from member join daily using(memberno) join dailyimg using(dailyno) where memberNo = #{memberNo} and status='M'
	</select>
	<select id="dailyCnt" parameterType="string" resultType="_int">
		select count(*) from member join daily using(memberNo) where memberNo = #{memberNo}
	</select>
	<select id="totalDailyCount" resultType="_int">
		SELECT COUNT(*) FROM DAILY
	</select>
	<delete id="deleteDailyImg" parameterType="string">
		DELETE FROM DAILYIMG WHERE DAILYIMGNO=#{value}
	</delete>
	<update id="updateDailyImg" parameterType="dailyImg">
		UPDATE DAILYIMG SET DAILYIMGNAME=#{dailyImgName} WHERE DAILYIMGNO=#{dailyImgNo} 
	</update>
	<update id="updateImgStatus" parameterType="dailyImg">
		UPDATE DAILYIMG SET STATUS='M' WHERE DAILYIMGNO=${dailyImgNo}
	</update>
	<delete id="deleteAllCoords" parameterType="string">
		DELETE FROM COORD WHERE DAILYIMGNO=#{dailyImgNo}
	</delete>
	<delete id="deleteAllHash" parameterType="string">
		DELETE FROM HASHTAG WHERE POSTNO=#{value}
	</delete>
	<update id="updateDailyContent" parameterType="daily">
		UPDATE DAILY SET CONTENT=#{content} WHERE DAILYNO=#{dailyNo}
	</update>
	<select id="selectComment" parameterType="string" resultType="dComment">
		SELECT DAILYNO,DAILYCOMMENTNO,COMMENTLEVEL,MEMBERNO,IMG,NICKNAME,DAILYCOMMENT,WRITEDATE FROM DAILYCOMMENT LEFT JOIN MEMBER USING(MEMBERNO) WHERE DAILYNO=#{dailyNo}
		START WITH COMMENTLEVEL=1 CONNECT BY PRIOR DAILYCOMMENTNO=COMMENTREF ORDER SIBLINGS BY WRITEDATE DESC
	</select>
	<select id="countComment" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM DAILYCOMMENT WHERE DAILYNO=#{dailyNo}
	</select>
	<insert id="insertComment" parameterType="dComment">
  		INSERT INTO DAILYCOMMENT VALUES(SEQ_DAILYCOMMENTNO.NEXTVAL,#{dailyNo},#{memberNo},#{commentLevel},#{dailyComment},#{commentRef},default)
  	</insert>
</mapper>
