<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "- //mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="find">
	<insert id="insertFindWrite" parameterType="find">
		INSERT INTO FIND VALUES('F'||SEQ_FINDNO.NEXTVAL,#{memberNo},'N',#{address},#{content},#{title},default,#{cate})
		<selectKey keyProperty="findNo" resultType="string" order="AFTER">
  		SELECT SEQ_FINDNO.CURRVAL from DUAL 
  		</selectKey>
	</insert>
	<insert id="insertFindPic" parameterType="findImg">
		INSERT INTO FINDIMG VALUES(SEQ_FINDIMGNO.NEXTVAL,#{findNo},#{fileName},#{imgStatus})
	</insert>
	<select id="selectFindList" resultType="map">
		SELECT * FROM FIND JOIN FINDIMG USING(FINDNO) JOIN MEMBER USING(MEMBERNO) WHERE IMGSTATUS = 'M' AND STATUS='N' 
	</select>
	
	   <select id="selectFindListOne" parameterType="string" resultType="map" >
   		select * from member join find using(memberNo) join findImg using(findNo) where memberNo = #{memberNo} and imgStatus='M'
   </select>
	<select id="findCnt" parameterType="string" resultType="int">
		select count(*) from member join find using(memberNo) where memberNo = #{memberNo}		
	</select>
	<select id="detailOne" parameterType="string" resultType="map">
		select * from find join member using(memberNo) join findImg using(findNo) where findNo = #{findNo} and imgStatus = 'M'
	</select>
	<select id="findSubPic" resultType="map" parameterType="string">
		select * from find join findImg using(findNo) where findNo = #{findNo} and imgStatus='S'
	</select>
</mapper>
