<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="place">
	<resultMap type="place" id="placeMap">
		<result column="position" property="position"
			typeHandler="strArr" />
	</resultMap>
	<insert id="insertPlace" parameterType="place">
		INSERT INTO PLACE
		VALUES('P'||SEQ_PLACENO.NEXTVAL,#{memberNo},#{title},#{explanation},DEFAULT,#{category},#{position,typeHandler=strArr},DEFAULT)
		<selectKey keyProperty="placeNo" resultType="string"
			order="AFTER"><!-- 본쿼리문을 실행하기전이나 후에 특정한값을 가져올때 사용 -->
			SELECT 'P'||SEQ_PLACENO.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	<insert id="insertPlaceImg" parameterType="placeImg">
		INSERT INTO PLACEIMG
		VALUES('PI'||SEQ_PLACEIMGNO.NEXTVAL,#{placeNo},#{content},#{fileName},
		<choose>
			<when test="type != null">
				#{type}
			</when>
			<when test="type == null">
				DEFAULT
			</when>
		</choose>
		)
	</insert>
	<insert id="insertHashtag" parameterType="map">
		INSERT INTO HASHTAG VALUES(#{postNo},#{hashContent})
	</insert>
	<select id="placeList" resultType="place" parameterType="string"
		resultMap="placeMap">
		SELECT * FROM PLACE JOIN PLACEIMG USING(PLACENO) JOIN MEMBER
		USING(MEMBERNO) WHERE TYPE='M' AND STATUS ='Y'
		<if test="category !=null">
			AND CATEGORY=#{category}
		</if>
		<if test="hashtag != null">
			AND PLACENO IN (SELECT PLACENO FROM PLACE LEFT JOIN HASHTAG ON
			POSTNO=PLACENO WHERE HASHCONTENT=#{hashtag})
		</if>
		<if test="keywords != null">
		   AND PLACENO IN (SELECT PLACENO FROM PLACE LEFT JOIN HASHTAG ON POSTNO=PLACENO JOIN PLACEIMG USING(PLACENO) WHERE REGEXP_LIKE(TITLE,
		   <foreach collection="keywords" item="word" separator="||'|'||">#{word}</foreach>
		   ) OR  REGEXP_LIKE(HASHCONTENT,
		   <foreach collection="keywords" item="word" separator="||'|'||">#{word}</foreach>
		   )OR  REGEXP_LIKE(EXPLANATION,
		   <foreach collection="keywords" item="word" separator="||'|'||">#{word}</foreach>
		   )OR  REGEXP_LIKE(CATEGORY,
		   <foreach collection="keywords" item="word" separator="||'|'||">#{word}</foreach>
		   )OR  REGEXP_LIKE(CONTENT,
		   <foreach collection="keywords" item="word" separator="||'|'||">#{word}</foreach>
		   ))
		</if>
		ORDER BY PLACEDATE DESC
	</select>
	<select id="selectPlace" resultType="place"
		parameterType="string" resultMap="placeMap">
		SELECT * FROM PLACEIMG JOIN PLACE USING(PLACENO) JOIN MEMBER USING(MEMBERNO)
		WHERE PLACENO=#{placeNo}
	</select>
	<select id="selectCount" resultType="_int"
		parameterType="string">
		SELECT COUNT(*) FROM PLACE WHERE STATUS ='Y'
		<if test="category !=null">
			AND CATEGORY=#{category}
		</if>
		<if test="hashtag != null">
			AND PLACENO IN (SELECT PLACENO FROM PLACE LEFT JOIN HASHTAG ON
			POSTNO=PLACENO WHERE HASHCONTENT=#{hashtag})
		</if>
		<if test="keywords != null">
		   AND PLACENO IN (SELECT PLACENO FROM PLACE LEFT JOIN HASHTAG ON POSTNO=PLACENO JOIN PLACEIMG USING(PLACENO) WHERE REGEXP_LIKE(TITLE,
		   <foreach collection="keywords" item="word" separator="||'|'||">#{word}</foreach>
		   ) OR  REGEXP_LIKE(HASHCONTENT,
		   <foreach collection="keywords" item="word" separator="||'|'||">#{word}</foreach>
		   )OR  REGEXP_LIKE(EXPLANATION,
		   <foreach collection="keywords" item="word" separator="||'|'||">#{word}</foreach>
		   )OR  REGEXP_LIKE(CATEGORY,
		   <foreach collection="keywords" item="word" separator="||'|'||">#{word}</foreach>
		   )OR  REGEXP_LIKE(CONTENT,
		   <foreach collection="keywords" item="word" separator="||'|'||">#{word}</foreach>
		   ))
		</if>
	</select>
	<select id="commentCount" resultType="_int"
		parameterType="string">
		SELECT COUNT(*) FROM PLACECOMMENT WHERE PLACENO=#{placeNo} AND STATUS='E'
	</select>
	<insert id="insertComment" parameterType="placeComment">
		INSERT INTO PLACECOMMENT
		VALUES('PC'||SEQ_PLACECOMMENTNO.NEXTVAL,#{placeNo},#{memberNo},#{commentLevel},#{placeComment},#{commentRef},default,default)
	</insert>
	<select id="commentList" resultType="placeComment"
		parameterType="string">
		SELECT
		PLACECOMMENTNO,COMMENTLEVEL,IMG,NICKNAME,PLACECOMMENT,WRITEDATE,MEMBERNO,STATUS
		FROM PLACECOMMENT JOIN MEMBER USING(MEMBERNO) WHERE PLACENO=#{placeNo}
		START WITH COMMENTLEVEL=1
		CONNECT BY PRIOR PLACECOMMENTNO=COMMENTREF ORDER SIBLINGS BY WRITEDATE DESC
	</select>
	<select id="hashList" resultType="hashtag"
		parameterType="string">
		SELECT * FROM HASHTAG WHERE POSTNO=#{placeNo}
	</select>
	<select id="selectPlaceListOne" resultType="map"
		parameterType="string">
		select * from member join place using(memberNo) join placeImg using(placeNo)
		where memberNo=#{memberNo} and type ='M'
	</select>
	<select id="placeCnt" resultType="_int" parameterType="string">
		select count(*) from member join place using(memberNo) where memberNo =
		#{memberNo}
	</select>
	<update id="updatePlace" parameterType="place">
		UPDATE PLACE SET
		TITLE=#{title},EXPLANATION=#{explanation},CATEGORY=#{category},POSITION=#{position,typeHandler=strArr}
		WHERE PLACENO=#{placeNo}
	</update>
	<delete id="deletePlaceImg" parameterType="string">
		DELETE FROM PLACEIMG WHERE PLACENO=#{placeNo}
	</delete>
	<update id="deleteHashtag" parameterType="string">
		DELETE FROM HASHTAG WHERE POSTNO=#{placeNo}
	</update>
	<select id="selectPlaceHeartWeek" resultType="map">
		SELECT
		PLACENO,TITLE,EXPLANATION,POSITION,PLACEDATE,STATUS,FILENAME,COUNT(HEARTMEMBERNO)
		AS HEARTCOUNT
		FROM PLACE LEFT JOIN PLACELIKE USING(PLACENO) LEFT JOIN PLACEIMG
		USING(PLACENO)
		WHERE FLOOR(SYSDATE-PLACEDATE)<![CDATA[<]]>14
		AND TYPE='M' AND STATUS='Y'
		GROUP BY
		(PLACENO,TITLE,EXPLANATION,POSITION,PLACEDATE,TYPE,STATUS,FILENAME)
		ORDER BY HEARTCOUNT DESC, PLACEDATE DESC
	</select>
	<select id="selectPlaceHash" resultType="map"
		parameterType="string">
		SELECT
		MEMBERNO,PLACENO,TITLE,EXPLANATION,CATEGORY,POSITION,FILENAME,NICKNAME,IMG,HASHCONTENT,STATUS
		FROM PLACE LEFT JOIN PLACEIMG USING(PLACENO) LEFT JOIN MEMBER
		USING(MEMBERNO) LEFT JOIN HASHTAG ON POSTNO=PLACENO
		WHERE HASHCONTENT=#{value} AND TYPE='M' AND STATUS='Y' ORDER BY PLACEDATE
		DESC
	</select>
	<delete id="deletePlace" parameterType="string">
		DELETE FROM PLACE WHERE PLACENO=#{placeNo}
	</delete>
	<select id="selectLike" resultType="string" parameterType="map">
		select * from placelike where placeno=#{placeNo} and
		heartmemberno=#{memberNo}
	</select>
	<delete id="deleteLike" parameterType="string">
		DELETE FROM PLACELIKE
		WHERE PLACENO=#{no} AND HEARTMEMBERNO=#{memberNo}
	</delete>
	<insert id="insertLike" parameterType="map">
		INSERT INTO PLACELIKE
		VALUES(#{placeNo}, #{memberNo})
	</insert>
	<select id="placeCntYes" resultType="_int" parameterType="string">
		select count(*) from member join place using(memberNo) where memberNo =
		#{memberNo} AND STATUS='Y'
	</select>
	<select id="selectLikeCount" resultType="map" >
		SELECT PLACENO,COUNT(*) AS CNT from PLACELIKE group by PLACENO
	</select>
	<update id="commentDelete" parameterType="string">
  		UPDATE PLACECOMMENT SET STATUS='D' WHERE PLACECOMMENTNO=#{placeCommentNo} AND (SELECT COUNT(*) FROM PLACECOMMENT WHERE COMMENTREF=#{placeCommentNo})>0
  	</update>
  	<delete id="comment2Delete" parameterType="string">
  		DELETE FROM PLACECOMMENT WHERE PLACECOMMENTNO=#{placeCommentNo}
  	</delete>
</mapper>
