<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tip">
	<insert id="insertTip" parameterType="tip">
		INSERT INTO TIP VALUES('T'||SEQ_TIPNO.NEXTVAL, #{memberNo}, #{category}, #{title}, #{content1}, #{content2}, SYSDATE)
		<selectKey keyProperty="tipNo" resultType="string" order="AFTER">
			SELECT SEQ_TIPNO.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	<insert id="insertTipImg" parameterType="tipImg">
		INSERT INTO TIPIMG VALUES(SEQ_TIPIMGNO.NEXTVAL, #{tipNo}, #{mainImg, jdbcType=VARCHAR}, #{contentImg, jdbcType=VARCHAR}, #{content, jdbcType=VARCHAR})
	</insert>
	<select id="tipList" resultType="map">
		SELECT * FROM TIP JOIN TIPIMG USING(TIPNO) JOIN MEMBER USING(MEMBERNO)
		WHERE 1=1 
		<if test="hashtag != null">
		   AND TIPNO IN (SELECT TIPNO FROM TIP LEFT JOIN HASHTAG ON POSTNO=TIPNO WHERE HASHCONTENT=#{hashtag})
		</if>
		<if test="category != null">
		   AND CATEGORY = #{category}
		</if>
		AND MAINIMG IS NOT NULL ORDER BY TIPDATE DESC
		
	</select>
	<select id="tipMainList" resultType="map">
		SELECT * FROM TIP WHERE TIPNO = #{tipNo} ORDER BY TIPNO DESC
	</select>
	<select id="tipDetail" parameterType="string" resultType="map">
		SELECT * FROM TIPIMG WHERE TIPNO = #{tipNo} ORDER BY TIPIMGNO
	</select>
	<select id="selectTipListOne" parameterType="string" resultType="map">
		select * from member join tip using(memberNo) join tipImg using(tipNo) where memberNo=#{memberNo} AND MAINIMG IS NOT NULL
	</select>
	<select id="tipCnt" resultType="_int" parameterType="string">
		select count(*) from member join tip using(memberNo) where memberNo = #{memberNo}
	</select>
	<select id="selectTipHeartWeek" resultType="map">
		SELECT TIPNO,TITLE,MAINIMG,COUNT(HEARTMEMBERNO) AS HEARTCOUNT
  		FROM TIP LEFT JOIN TIPLIKE USING(TIPNO) LEFT JOIN TIPIMG USING(TIPNO)
  		WHERE FLOOR(SYSDATE-TIPDATE)<![CDATA[<]]>14 AND MAINIMG IS NOT NULL
  		GROUP BY (TIPNO,TITLE,TIPDATE,MAINIMG) 
  		ORDER BY HEARTCOUNT DESC, TIPDATE DESC
	</select>
	<delete id="tipDelete" parameterType="string">
		DELETE FROM TIP WHERE TIPNO = #{tipNo}
	</delete>
	<update id="updateTip" parameterType="tip">
		UPDATE TIP SET CATEGORY = #{category}, TITLE = #{title}, CONTENT1 = #{content1}, CONTENT2 = #{content2}, TIPDATE = SYSDATE WHERE TIPNO = #{tipNo}
	</update>
	<update id="updateMainImg" parameterType="tipImg">
		UPDATE TIPIMG SET MAINIMG = #{mainImg} WHERE TIPIMGNO=#{tipImgNo}
	</update>
	<delete id="deleteTipImg" parameterType="tipImg">
		DELETE FROM TIPIMG WHERE TIPIMGNO = #{tipImgNo}
	</delete>
	<insert id="insertSubImgs" parameterType="tipImg">
		INSERT INTO TIPIMG VALUES(SEQ_TIPIMGNO.NEXTVAL, #{tipNo}, null, #{contentImg, jdbcType=VARCHAR}, #{content, jdbcType=VARCHAR})
	</insert>
	<update id="updateContent" parameterType="tipImg">
		UPDATE TIPIMG SET CONTENT = #{content} WHERE TIPIMGNO=#{tipImgNo}
	</update>
	<select id="selectTipHash" resultType="map" parameterType="string">
		SELECT MEMBERNO,TIPNO,CATEGORY,TITLE,MAINIMG,NICKNAME,IMG,HASHCONTENT FROM TIP LEFT JOIN TIPIMG USING(TIPNO) LEFT JOIN MEMBER USING(MEMBERNO) LEFT JOIN HASHTAG ON POSTNO=TIPNO
		WHERE HASHCONTENT=#{value} AND MAINIMG IS NOT NULL ORDER BY TIPDATE DESC
	</select>
	<select id="selectMember" parameterType="string" resultType="map">
		SELECT MEMBERNAME, NICKNAME, IMG FROM MEMBER WHERE MEMBERNO = #{writerNo}
	</select>
	<select id="selectTipLike" resultType="string" parameterType="string">
		select TIPNO from TIPLIKE WHERE HEARTMEMBERNO=#{memberNo}
	</select>
		<delete id="deleteLike" parameterType="string">
		DELETE FROM TIPLIKE WHERE TIPNO=#{no} AND HEARTMEMBERNO=#{memberNo}
	</delete>
	<insert id="insertLike" parameterType="map">
		INSERT INTO TIPLIKE VALUES(#{tipNo}, #{memberNo})
	</insert>
	<insert id="insertHashtag" parameterType="hashtag">
		INSERT INTO HASHTAG VALUES(#{postNo},#{hashContent})
	</insert>
	<select id="selectHashList" resultType="hashtag" parameterType="string">
		SELECT * FROM HASHTAG WHERE POSTNO=#{tipNo}
	</select>
	<delete id="deleteAllHash" parameterType="string">
		DELETE FROM HASHTAG WHERE POSTNO=#{value}
	</delete>
	<select id="totalTipCount" resultType="_int">
		SELECT COUNT(*) FROM TIP JOIN TIPIMG USING(TIPNO) JOIN MEMBER USING(MEMBERNO) WHERE MAINIMG IS NOT NULL
		<if test="hashtag != null">
		   AND TIPNO IN (SELECT TIPNO FROM TIP LEFT JOIN HASHTAG ON POSTNO=TIPNO WHERE HASHCONTENT=#{hashtag}) 
		</if>
	</select>
	<select id="selectComment" parameterType="string" resultType="tComment">
		SELECT TIPNO,TIPCOMMENTNO,COMMENTLEVEL,MEMBERNO,IMG,NICKNAME,TIPCOMMENT,WRITEDATE,STATUS FROM TIPCOMMENT LEFT JOIN MEMBER USING(MEMBERNO) WHERE TIPNO=#{tipNo}
		START WITH COMMENTLEVEL=1 CONNECT BY PRIOR TIPCOMMENTNO=COMMENTREF ORDER SIBLINGS BY WRITEDATE DESC
	</select>
	<select id="countComment" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM TIPCOMMENT WHERE TIPNO=#{tipNo} AND STATUS='E'
	</select>
	<select id="countCommentPage" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM TIPCOMMENT WHERE TIPNO=#{tipNo}
	</select>
	<insert id="insertComment" parameterType="tComment">
  		INSERT INTO TIPCOMMENT VALUES(SEQ_TIPCOMMENTNO.NEXTVAL,#{tipNo},#{memberNo},#{commentLevel},#{tipComment},#{commentRef},default,default)
  	</insert>
  	<update id="commentDelete" parameterType="string">
  		UPDATE TIPCOMMENT SET STATUS='D' WHERE TIPCOMMENTNO=#{tipCommentNo} AND (SELECT COUNT(*) FROM TIPCOMMENT WHERE COMMENTREF=#{tipCommentNo})>0
  	</update>
  	<delete id="comment2Delete" parameterType="string">
  		DELETE FROM TIPCOMMENT WHERE TIPCOMMENTNO=#{tipCommentNo}
  	</delete>
  	<select id="tipLikeCount" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM TIPLIKE WHERE TIPNO=#{tipNo}  	
  	</select>
  	<select id="selectTipDate" resultType="map">
  		SELECT TIPNO,MEMBERNO,NICKNAME,IMG,INFO,TIPDATE, MAINIMG, CATEGORY, COUNT(HEARTMEMBERNO) AS HEARTCOUNT 
  		FROM TIP LEFT JOIN MEMBER USING(MEMBERNO) LEFT JOIN TIPLIKE USING(TIPNO) LEFT JOIN TIPIMG USING(TIPNO) WHERE MAINIMG IS NOT NULL
  		<if test="category != null">
		   AND CATEGORY = #{category}
		</if>
  		GROUP BY (TIPNO,MEMBERNO,NICKNAME,IMG,INFO,TIPDATE, MAINIMG, CATEGORY) ORDER BY TIPDATE DESC
  	</select>
  	<select id="selectTipHeart" resultType="map">
  		SELECT TIPNO,MEMBERNO,NICKNAME,IMG,INFO,TIPDATE, MAINIMG, CATEGORY, COUNT(HEARTMEMBERNO) AS HEARTCOUNT 
  		FROM TIP LEFT JOIN MEMBER USING(MEMBERNO) LEFT JOIN TIPLIKE USING(TIPNO) LEFT JOIN TIPIMG USING(TIPNO) WHERE MAINIMG IS NOT NULL
  		<if test="category != null">
		   AND CATEGORY = #{category}
		</if>
  		GROUP BY (TIPNO,MEMBERNO,NICKNAME,IMG,INFO,TIPDATE, MAINIMG, CATEGORY) 
  		ORDER BY HEARTCOUNT DESC, TIPDATE DESC
  	</select>
  	<select id="selectTipFollow" resultType="map">
  		SELECT TIPNO,MEMBERNO,NICKNAME,IMG,INFO,TIPDATE, MAINIMG, CATEGORY, COUNT(FOLLOWERNO) AS FOLLOWCOUNT 
  		FROM TIP LEFT JOIN MEMBER USING(MEMBERNO) LEFT JOIN FOLLOW F ON MEMBERNO=WRITERNO LEFT JOIN TIPIMG USING(TIPNO) WHERE MAINIMG IS NOT NULL
  		<if test="category != null">
		   AND CATEGORY = #{category}
		</if>
  		GROUP BY (TIPNO,MEMBERNO,NICKNAME,IMG,INFO,TIPDATE, MAINIMG, CATEGORY)
  		ORDER BY FOLLOWCOUNT DESC, TIPDATE DESC
  	</select>
</mapper>
